


@model IEnumerable<MyLeaveCareBot.Models.ApplyLeave>
@{
    ViewData["Title"] = "HRSeeLeavesfromapi";
}

<h1>HR See Leaves from api</h1>


<p>

    <a asp-action="HRPortal" asp-controller="HRManagement">Back to Portal</a>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavestartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReason)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavestartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveReason)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            
        </tr>
        }
    </tbody>
</table>

